* {
  padding: 0;
  margin: 5px;
  
}
h1{
	color:white;
	text-align:center;
	font-size:50px;
}
a:visited{
	color:white;
}
.nav{
	width:100%;
	background:#000033
	height:80px;
}
body {
  font-family: Arial;
  padding: 10px;
  background-image: url("ucl.jpg");
  color:white;
}
ul{
	padding:0;
	margin:0;
	list-style:none;
	position:absolute;
}
ul li{
	float:left;
	width:210px;
	height:40px;
	background-color:black;
	opacity:.8;
	line-height:30px;
	text-align:center;
	font-size:20px;
	margin-left:0;
}
ul li a{
	text-decoration:none;
	display:block;
	font-weight:bold;
	position:relative;
}
ul li a:hover{
	background-color:red;
}
ul li ul li{
	display:none;
}
ul li:hover ul li{
	display:block;
}
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  color:black;
}
table,th,td{
		border:2px solid blue;
		border-collapse:collapse;
		text-align:center;
		background-color:white;
		padding:12px;
		margin:10px;
}
th{
	color:red;
	background-color:pink;
}
td{
	color:black;
	text-align:left;
}
div.barce {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  color:black;
}

div.barce p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}